//scroll snapping
.container
    scroll-snap-type: y mandatory
    height: 100vh
    overflow-y: scroll
    background-color: #e6e6e6
    color: #0e0e0e
    font-family: system-ui, sans-serif
    font-size: 2rem
    text-align: center
    scroll-behavior: smooth

    section
        scroll-snap-align: start
        height: 100vh
        color: #0e0e0e
        font-family: system-ui, sans-serif
        font-size: 2rem
        display: flex
        justify-content: center
        align-items: center
    .weather
        background-color: #0a0a0a
    .forecast
        background-color: #ff5555

.weather-details
    background: rgb(31,31,31)
    background: linear-gradient(225deg, rgba(31,31,31,1) 0%, rgba(43,43,43,1) 34%, rgba(0,0,0,1) 100%)
    position: relative
    padding: 2em
    border-radius: 1em
    color: white

.temperature
    position: absolute
    bottom: 20px
    right: 20px
    font-size: 3rem
