<div class="container">
    <app-loader *ngIf="this.weatherLoading$ | async"></app-loader>
    <section class="weather">
        <div class="weather-details">
            <div class="weather-detail">
                {{(weather$ | async)?.weather?.at(0)?.main}}
            </div>
            <div class="image-container">
                <img *ngIf="!(weatherLoading$ | async)"
                    [src]="'http://openweathermap.org/img/wn/' + (weather$ | async)?.weather?.at(0)?.icon + '@4x.png'">
            </div>
            <div class="temperature">
                {{kelvinToCelsius((weather$ | async)?.main?.temp)}} C°
            </div>
        </div>


    </section>
    <app-loader *ngIf="this.forecastLoading$ | async"></app-loader>
    <section class="forecast">

    </section>
</div>