//scroll snapping
.container
    scroll-snap-type: y mandatory
    height: 100vh
    overflow-y: scroll
    background-color: #e6e6e6
    color: #0e0e0e
    font-family: system-ui, sans-serif
    font-size: 2rem
    text-align: center
    scroll-behavior: smooth

    section
        scroll-snap-align: start
        height: 100vh
        color: #0e0e0e
        font-family: system-ui, sans-serif
        font-size: 2rem
    .weather
        background-color: #fff554
    .forecast
        background-color: #ff5555
